.page-loading {
  margin: auto;
  display: block;
  top: 31%;
  position: fixed;
  left: 50%;
  top: 50%;
}

.group-info em {
  margin-top: -15px;
  position: relative;
  display: block;
  font-size: 9px;
}
